main {
  display: flex;
}

.Chat-Box {
  display: flex;
  flex-direction: column;
}

.Buttons {
  float: right;
}

.Chat-Box-Container {
  display: flex;
  flex-direction: row;
}

.Chat {
  border: solid;
}

.Participants {
  border: solid;
  display: flex;
  flex-direction: column;
  padding: 10px;
}

.Stage {
  display: flex;
  flex-direction: row;
}